.task-header {
  @include flex();
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  border: $border-default;

  h2 {
    text-transform: uppercase;
    margin: 0;
    color: $theme-blue !important;
  }
}

.task-toggle {
  margin: 20px 0px;
}

.collapse.show {
  .card {
    border-color: $dark-border-color;
    border-width: 2px;
  }
}

.card-list .card {
  margin-bottom: 20px;

  &:hover {
    border-color: $red;
  }
}
